.device-mob-menu {
    width: 100%;
    list-style: none;

    button {
        border: none;
        background: none;
        width: 100%;
        text-align: left;
        display: block;
        padding: 15px 15px 14px 0;
        position: relative;
        font-size: 16px;

        &:hover {
            text-decoration: none;
        }
            
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%) rotate(-90deg);
            right: 5px;
            width: 14px;
            height: 14px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100% auto;

            @include theme("light") {
                background-image: arrow-bg-image("black");
            }

            @include theme("dark") {
                background-image: arrow-bg-image("white");
            }
        }

        @include theme("light") {
            color: var(--color-black);
        }

        @include theme("dark") {
            color: var(--color-white);
        }
    }

    &__item {
        &:not(:first-child) {
            @include theme('light') {
                border-top: 1px solid rgba(var(--color-gray-rgb), 0.5);
            }
    
            @include theme('dark') {
                border-top: 1px solid rgba(var(--color-green-rgb), 0.1);
            }
        }
    }
}

.device-mob-prev-link {
    display: block;
    padding: 20px 15px 17px 30px;
    position: sticky;
    top: 78px;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    width: 100%;
    text-align: left;
    z-index: 1;

    &:hover {
        text-decoration: none;
    }

    @include theme('light') {
        border-bottom: 1px solid rgba(var(--color-gray-rgb), 0.5);
        background-color: var(--color-white);
        color: var(--color-black);
    }

    @include theme('dark') {
        border-bottom: 1px solid rgba(var(--color-green-rgb), 0.1);
        background: var(--color-dark-100);
        color: var(--color-white);
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: calc(50% + 1px);
        transform: translateY(-50%) rotate(90deg);
        left: 0;
        width: 14px;
        height: 14px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% auto;

        @include theme("light") {
            background-image: arrow-bg-image("black");
        }

        @include theme("dark") {
            background-image: arrow-bg-image("white");
        }
    }
}

.divice__middle-row {
    position: sticky;
    top: 100px;
}

.device-title {
    padding-bottom: 17px;
    margin-bottom: 20px;

    @include theme('light') {
        border-bottom: 1px solid var(--color-gray);
    }

    @include theme('dark') {
        border-bottom: 1px solid rgba(var(--color-green-rgb), 0.15);
    }
}