.technical-work {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    &__title {
        font-weight: 400;
        font-size: 30px;
        line-height: 32px;
        margin-top: 30px;
        
        @include theme('light') {
            color: var(--color-black);
        }

        @include theme('dark') {
            color: var(--color-white);
        }

        @include r($sm) {
            font-size: 25px;
        }
    }
    
    &__text {
        font-size: 18px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-top: 20px;
        
        span {
            color: var(--color-red);
            text-transform: none;
            font-weight: bold;
            line-height: 25px;
            @include r($sm) {
                display: block;
            }
        }
        
        @include theme('light') {
            color: var(--color-black);
        }

        @include theme('dark') {
            color: var(--color-white);
        }

        @include r($sm) {
            font-size: 16px;
            letter-spacing: 0;
        }
    }
}