.app-chart {
    border-radius: 25px;
    padding: 28px;

    @include r($sm) {
        padding: 20px;
    }

    @include theme("light") {
        background: var(--color-white);
        box-shadow: 2px 2px 10px rgba(227, 227, 227, 0.65);
    }

    @include theme("dark") {
        background: var(--color-dark-100);
        box-shadow: 2px 2px 10px rgba(var(--color-green-rgb), 0.15);
    }

    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        margin-bottom: 23px;
    }
    
    &__table {
        width: 100%;
        th, td {
            padding: 8px 5px;
            vertical-align: top;
        }

        span {
            border-radius: 4px;
            min-width: 14px;
            max-width: 14px;
            height: 14px;
            margin-right: 10px;
            display: inline-flex;
        }
    }

    &_type_circular {
        canvas {
            margin-left: auto;
            margin-right: auto;
            width: 166px !important;
            height: auto !important;
        }
    }

    .chart-col-two, .chart-col-one {
        min-width: 78px;
        max-width: 78px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .chart-col-one {
        &_1 {
            .chart-one__bar {
                background-color: #67C59D;
            }
        }

        &_2 {
            .chart-one__bar {
                background-color: #5193E1;
            }
        }

        &_3 {
            .chart-one__bar {
                background-color: #E1C530;
            }
        }

        &_4 {
            .chart-one__bar {
                background-color: #345A92;
            }
        }

        &_5 {
            .chart-one__bar {
                background-color: #6C47BA;
            }
        }
    }

    .chart-two__bars {
        height: 140px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 12px;
    }

    .chart-two__bar {
        width: calc(50% - 7px);
        border-radius: 8px;
        &:first-child {
            background-color: #67C59D;
        }

        &:last-child {
            background-color: #515FE1;
        }
    }

    .chart-one__bars {
        margin-left: auto;
        margin-right: auto;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 140px;
        border-radius: 4px;
        margin-bottom: 12px;
        position: relative;
    }

    .chart-one__bar {
        position: absolute;
        left: 0;
        bottom: 50%;
        width: 100%;
        max-height: 50%;
        border-radius: 10px;
        &_minus {
            top: 50%;
            bottom: auto;
        }
    }

    &__wrap-table {
        overflow-x: auto;
        padding-bottom: 20px;
        &__table {
            min-width: max-content;
        }
    }
}