.spinner-grow {
    background-color: var(--color-gray);
    opacity: 0;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: -0.125em;
    border-radius: 50%;
    animation: 0.85s linear infinite spinner-grow;
}

@keyframes spinner-grow {
    0% {
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: none;
    }
}