.wrap-table {
    &_horizontal-scroll {
        overflow-x: auto;
    }
}

.table {
    width: 100%;
    border-spacing: 0;

    th, td {
        padding-left: 18px;
        padding-right: 18px;

        @include r($md) {
            padding-left: 10px;
            padding-right: 10px;
        }

        @include r($sm) {
            padding-left: 7px;
            padding-right: 7px;
        }
    }

    th {
        font-weight: 500;
        font-size: 15px;
        line-height: 19px;
        text-align: left;
        padding-bottom: 20px;

        @include theme('light') {
            color: var(--color-black);
        }

        @include r($sm) {
            padding-bottom: 10px;
        }
    }

    td { 
        padding-top: 25px;
        padding-bottom: 25px;
    }

    tbody {
        tr {
            td {
                @include theme('light') {
                    border-top: 1px solid var(--color-gray);
                }
            }

            &:first-child {
                td {
                    border-top: none;
                }
            }

            @media (hover: hover) and (pointer: fine) {
                &:hover {
                    // cursor: pointer;
    
                    td {
                        @include theme('light') {
                            background-color: rgba(var(--color-gray-rgb), 0.6);
                        }
                    }
                }
            }
        }
    }

    [data-sort] {
        cursor: pointer;
        padding-right: 20px;
        background-size: 13px auto;
        background-repeat: no-repeat;
        background-position: right top 3px;
    }

    [data-sort="none"] {
        @include theme('light') {
            background-image: arrows-sort-none("black");
        }
    }

    [data-sort="asc"] {
        @include theme('light') {
            background-image: arrows-sort-asc("black");
        }
    }

    [data-sort="desc"] {
        @include theme('light') {
            background-image: arrows-sort-desc("black");
        }
    }
}

.table-inner {
    display: none;

    &.active {
        display: table-row;
    }

    &>td {
        padding-top: 15px;
        padding-bottom: 15px;
        
        @include theme('light') {
            background-color: rgba(var(--color-gray-rgb), 0.2) !important;
        }
    }

    table {
        border-spacing: 0;

        tr {
            td {
                border-top: none !important;
                background: none !important;
                padding-top: 10px;
                padding-bottom: 10px;

                &:first-child {
                    font-weight: 500;
                }
            }
        }
    }
}

.wrap-table {
    &_dropdown {
        td {
            @include r($sm) {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }

    &_horizontal-scroll {
        .table {
            min-width: max-content;
        }

        .col {
            &-comments {
                width: 250px;
            }
        }
    }
}